body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    cursor: url('./img/Hammer.png'), auto;
    flex-direction: column;
  }
  
  #game-board {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
    gap: 5px;
  }
  
  .cell {
    width: 100px;
    height: 100px;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

  }
  
  img {
    max-width: 100%;
    max-height: 100%;
  }

  .counters {
    display: flex;
    margin-top: 20px;
    font-size: 20px;
    flex-direction: row;
  }
  
  .counter {
    margin-left: 10px;
  }